    body {
        /*background properties*/
        background-color: black;
        color: white;
    }
    
    #boxGameArea {
        /*box background properties*/
        background-color: white;
        position: relative;
        color: blue;
        outline: 4px solid brown;
        height: 600px;
        width: 700px;
        display: block;
        /*this element allows it to be centered*/
        margin-left: auto;
        /*accompany block element for center alignment*/
        margin-right: auto;
        /*accompany block element for center alignment*/
    }
    
    #foodHunter {
        /*food hunter image*/
        width: 70px;
        height: 100px;
        position: absolute;
        background-image: url("/img/Idle__000.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }
    
    #enemy {
        /*enemy image*/
        width: 70px;
        height: 100px;
        position: absolute;
        background-image: url("/img/Run__007.png");
        background-repeat: no-repeat;
        background-size: cover;
        animation: patrol 3s infinite;
        animation-direction: alternate;
        transition: width 1s;
        z-index: 1;
        /*animation duration*/
    }
    
    @keyframes patrol {
        /*determines start & end positions*/
        from {
            top: 0px;
        }
        to {
            top: 510px;
        }
    }
    
    #food {
        /*food image*/
        width: 70px;
        height: 50px;
        position: absolute;
        background-image: url("/img/chicken.png");
        background-repeat: no-repeat;
        background-size: cover;
        animation: go 5s infinite;
        animation-direction: alternate;
        transition: width 2s;
        z-index: 1;
        /*determining the position, eg in front/back*/
        /*animation duration*/
    }
    
    @keyframes go {
        /*determines start & end positions*/
        from {
            left: 0px;
        }
        to {
            left: 630px;
        }
    }